<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Prueba - Idolos </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stoke&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <img src=".\images\pecho.jpg" atl="logo" widt="100px" height="100px">
        <h1>Idolos con la Banda Roja en el Pecho</h1>
        <p>Lugar para poner la barra de busqueda</p>
        <nav>
            <ul>
                <li><a href=#Oferta>Ofertas</a></li>
                <li><a href=#tiendasOficiales>Tiendas Oficiales</a></li>
                <li><a href=#Vender>Vender</a></li>
                <li><a href=#ayuda>Ayuda</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3 class="titulo2">Ellos</h3>
            <br>
            <div class="fotocaja"></div>
            <img class="foto" src=".\images\idolos.jpg" alt="idolos" widt="100px" height="200px">
            </div>
            <br>
            <p class="texto2">*************Lorem ipsum dolor sit amet consectetur adipisicing elit. A accusamus odit dolorem repudiandae minus ut atque numquam eos autem nulla, asperiores in reiciendis veritatis delectus culpa laborum quia facere perferendis.</p>
            <br>
        </section>
    </main>
    <footer>
             <section>
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>

    </footer>    
</body>
</html>